.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: invert(0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Weather-page-close {
  background-color: black;
  filter: opacity(62.5%);
  height: 100vh;
  width: calc(100vw - 1.5em);
  position: absolute;
  left: 1.5em;
  transition: all 1.5s ease;
}

.Weather-page-open {
  background-color: black;
  filter: opacity(62.5%);
  height: 100vh;
  width: calc(100vw - 20vw);
  position: absolute;
  left: 20vw;
  transition: all 1.5s ease;
  overflow: hidden;
}

.App-header {
  background-image: url(./images/cloudy-day.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo-ToolBar {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo-ToolBar {
  height: 20vh;
  width: 20vw;
  pointer-events: none;
  filter: invert(0.5);
}

#ToolBarDay {
  max-width: 3em;
  transition: all 1.5s ease;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  height: 100vh;
  box-shadow: 5px 0px 5px grey;
}

#ToolBarDay.OpenToolBarDay {
  max-width: 20vw;
}

#ToolBarDay.OpenToolBarDay.darkTheme {
  filter: invert(1);
}

.Icon {
  /*filter: invert(1);*/
  height: 3em;
  width: 3em;
  cursor: pointer;
  float: right;
}

.Icon:hover {
  transform: rotate(90deg);
  transition: 0.5s;
}

.Menu-Button {
  float: right;
}

.button {
  /*margin: 0px 5vw 2.5vh;*/
  width: 10vw;
  filter: invert(1);
}

.Content {
  justify-content: center;
  flex: content;
}

.brand {
  height: 2em;
  max-width: 9vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sun {
  height: 3em;
  width: 3em;
  padding: 10px 15px 10px 15px;
  filter: invert(1);
}

.light {
  background-color: black;
  pointer-events: none;
}

.dark {
  background-color: white;
  pointer-events: none;
}

.moon {
  height: 3em;
  width: 3em;
  padding: 10px 15px 10px 15px;
}

.buttons {
  flex: content;
  height: 10vh;
  width: 7.5vw;
  justify-items: center;
}

.popup-box {
  position: fixed;
  background: #0000009d;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  width: 50%;
  margin: 0 auto;
  height: 50%;
  max-height: 70vh;
  min-height: 10vh;
  min-width: 10vh;
  margin-top: calc(100vh - 80vh - 20px);
  background: #fff;
  border-radius: 20px;
  padding: 10px;
}
 
.popup-content {
  align-items: center;
  color: black;
}

.darkTheme {
  background-color: black;
}

.ToolBarNight {
  filter: invert(1);
}